@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background: #fff;
}
.header_area h1 {
    font-size: 40px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.header_area h1 span {
    color: #2394f5;
}

.header_area h1::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 45px;
    right: 0;
    width: 85px;
    height: 2px;
    background: #2394f5;
}

#book_form label {
    font-size: 20px;
    font-weight: 400;
}

#book_form input {
    height: 50px;
    box-shadow: 3px 4px 10px #dddddd70;
    border: 1px solid #ededed;
}

#book_form input[type=submit] {
    width: 100%;
    margin-top: 35px;
    background: #2394f5;
    color: #fff;
    font-size: 20px;
    border: none;
    height: auto;
}

.book_listing .table thead th {
    border-bottom: 2px solid #2394f5;
    border-top: 2px solid #2394f5;
    font-weight: 500;
    font-size: 20px;
    padding: 7px 5px;
}

.book_listing table {
    margin-top: 75px !important;
}
.book_listing th {
    font-weight: 500;
}